.page-header a h1 {
    color: #555;
}

.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

.songs .rating {
    color: #aaa;
    font-size: 1.1em;
}

a.star-rating {
    color: inherit;
    text-decoration: none;
}

.page-header a:hover {
    text-decoration: none;
}

.nav-tabs > li:first-child > a.active:after {
    content: '';
    display: block;
    width: 3px;
    height: 10px;
    border-left: 1px solid #ddd;
    background: #fff;
    left: -1px;
    position: absolute;
    bottom: -5px;
}

.form-group textarea {
    width: 100%;
    height: 150px;
}

@keyframes fontbulger {
    0% {
        font-size: 10px;
    }
    30% {
        font-size: 15px;
    }
    100% {
        font-size: 12px;
    }
}

#box {
    animation: fontbulger 2s infinite;
}

.sorting-link:hover {
    text-decoration: none;
}

.song-filter-search-panel .sorting-link + .sorting-link {
    margin-left: 5px;
}

.sorting-panel {
    float: left;
}

@media (max-width: 690px) {
    .sorting-panel {
        margin-bottom: 5px;
    }
}

@font-face {
    font-family: 'Exo2.0-Thin';
    src: url(../fonts/Exo2_0Thin/Exo2_0Thin.eot?) format("eot"), url(../fonts/Exo2_0Thin/Exo2_0Thin.woff2) format("woff2"), url(../fonts/Exo2_0Thin/Exo2_0Thin.woff) format("woff"), url(../fonts/Exo2_0Thin/Exo2_0Thin.ttf) format("truetype"), url(../fonts/Exo2_0Thin/Exo2_0Thin.svg#Exo2_0Thin) format("svg");
    font-weight: 400;
    font-style: normal
}

html {
    font-size: 10px
}

.container, body {
    font-size: 1.4rem
}

*, ::after, ::before {
    box-sizing: border-box
}

body {
    color: #000;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 1.2;
    min-width: 310px
}

.package + .package {
    margin-left: 10px
}

.package__content::after {
    content: " ";
    display: block;
    height: 268px;
    left: 5px;
    position: absolute;
    bottom: 5px;
    width: 272px;
    background: url(../img/cats.png) bottom left no-repeat;
    border-bottom-left-radius: 6px
}

.package__link:active, .package__link:focus, .package__link:hover, .package__link:link, .package__link:visited {
    color: #1698d9;
    transition: all .1s linear
}

@media (max-width: 1016px) {
    .package {
        margin-bottom: 20px
    }

    .container {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
}

@media (max-width: 350px) {
    html {
        font-size: 9px
    }

    body {
        margin-bottom: 10px;
    }

    .container {
        padding: 10px 5px 18px
    }

    .package + .package {
        margin-left: 0
    }

    .package__title {
        font-size: 1.5rem
    }
}
